* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

input {
  border: none;
  outline: none;
}

select {
  outline: none;
  border: none;
}

button {
  border-style: none;
  background-color: transparent;
  outline: none;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  margin: 1rem auto;
}

.wrapper form {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper form p {
  width: 100%;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: bold;
}

.wrapper form p.title-form {
  font-size: 1.7rem;
  color: #57b8d8;
}

.wrapper form p.info {
  color: #999;
}

.wrapper form ul {
  margin-top: 1rem;
}

.wrapper form ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 50px;
  margin: 5px 0;
  font-weight: bold;
  color: #333;
}

.wrapper form ul li .city-wrapper {
  width: 50%;
  height: 60%;
}

.wrapper form ul li label {
  width: 30%;
  margin-right: 10%;
  text-align: right;
}

.wrapper form ul li input,
.wrapper form ul li select {
  width: 50%;
  height: 60%;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f3f3f3;
  -webkit-transition: .2s;
  transition: .2s;
}

.wrapper form ul li input#pcode,
.wrapper form ul li select#pcode {
  width: 30%;
  height: 100%;
  float: left;
}

@media (min-width: 1024px) {
  .wrapper form ul li input#pcode,
  .wrapper form ul li select#pcode {
    width: 25%;
  }
}

.wrapper form ul li input#city,
.wrapper form ul li select#city {
  width: 65%;
  height: 100%;
  float: right;
}

@media (min-width: 1024px) {
  .wrapper form ul li input#city,
  .wrapper form ul li select#city {
    width: 70%;
  }
}

.wrapper form ul li input:focus,
.wrapper form ul li select:focus {
  -webkit-box-shadow: 0px 0px 5px #bbb;
          box-shadow: 0px 0px 5px #bbb;
}

.wrapper form ul li .errors {
  width: 100%;
  margin: 5px 5% 5px 45%;
  color: red;
  text-align: left;
}

.wrapper form ul li .errors p {
  padding: 2px 0;
  font-size: .8rem;
  font-weight: normal;
  letter-spacing: .7px;
}

@media (min-width: 768px) {
  .wrapper form ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 1.2rem;
  }
  .wrapper form ul li {
    width: 50%;
  }
}

.wrapper form button {
  display: block;
  width: 60%;
  padding: 15px;
  margin-top: 2rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  background-color: #48bd96;
  color: white;
  cursor: pointer;
}

@media (min-width: 768px) {
  .wrapper form button {
    width: 40%;
    max-width: 300px;
    margin-left: auto;
    margin-right: 5%;
  }
}

.wrapper div.user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1rem;
  max-width: 768px;
}

.wrapper div.user-data h1 {
  width: 100%;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: #57b8d8;
}

.wrapper div.user-data h2 {
  width: 100%;
  padding: 10px 0;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: #999;
}

.wrapper div.user-data ul {
  width: 100%;
  max-width: 500px;
}

.wrapper div.user-data ul li {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper div.user-data ul li div.label {
  width: 60%;
}

.wrapper div.user-data ul li div.value {
  width: 40%;
  font-weight: 700;
}

@media (min-width: 400px) {
  .wrapper div.user-data h1 {
    font-size: 1.7rem;
  }
  .wrapper div.user-data h2 {
    font-size: 1.4rem;
  }
  .wrapper div.user-data ul {
    font-size: 1.1rem;
  }
  .wrapper div.user-data ul li {
    height: 35px;
  }
  .wrapper div.user-data ul li div.label {
    width: 55%;
  }
  .wrapper div.user-data ul li div.value {
    width: 45%;
  }
}

@media (min-width: 768px) {
  .wrapper div.user-data {
    padding: 1rem;
    margin: 0 auto;
  }
  .wrapper div.user-data h1 {
    font-size: 2.1rem;
  }
  .wrapper div.user-data h2 {
    font-size: 1.8rem;
  }
  .wrapper div.user-data ul {
    font-size: 1.4rem;
  }
  .wrapper div.user-data ul li {
    height: 50px;
  }
  .wrapper div.user-data ul li div.label {
    width: 70%;
  }
  .wrapper div.user-data ul li div.value {
    width: 30%;
  }
}
/*# sourceMappingURL=style.css.map */