@import 'mixins';

.wrapper {
  max-width: 1200px;
  margin: 1rem auto;

  form {
    margin: 1rem;
    @include box-flex(column, center, center);

    p {
      width: 100%;
      font-size: 1.3rem;
      letter-spacing: 1px;
      font-weight: bold;
    }

    p.title-form {
      font-size: 1.7rem;
      color: rgb(87, 184, 216);
    }

    p.info {
      color: #999;
    }

    ul {
      margin-top: 1rem;

      li {
        @include box-flex(row, center, center);
        flex-wrap: wrap;
        min-height: 50px;
        margin: 5px 0;
        font-weight: bold;
        color: #333;

        .city-wrapper {
          width: 50%;
          height: 60%;
        }

        label {
          width: 30%;
          margin-right: 10%;
          text-align: right;
        }

        input,
        select {
          width: 50%;
          height: 60%;
          padding: 5px 10px;
          border: 1px solid #ddd;
          border-radius: 4px;
          background-color: rgb(243, 243, 243);
          transition: .2s;

          &#pcode {
            width: 30%;
            height: 100%;
            float: left;

            @media (min-width:1024px) {
              width: 25%;
            }
          }

          &#city {
            width: 65%;
            height: 100%;
            float: right;

            @media (min-width:1024px) {
              width: 70%;
            }
          }

          &:focus {
            box-shadow: 0px 0px 5px #bbb;
          }
        }

        .errors {
          width: 100%;
          margin: 5px 5% 5px 45%;
          color: red;
          text-align: left;

          p {
            padding: 2px 0;
            font-size: .8rem;
            font-weight: normal;
            letter-spacing: .7px;
          }
        }
      }

      @media (min-width:768px) {
        @include box-flex(row, center, center);
        flex-wrap: wrap;
        font-size: 1.2rem;

        li {
          width: 50%;
        }
      }
    }

    button {
      display: block;
      width: 60%;
      padding: 15px;
      margin-top: 2rem;
      text-align: center;
      font-weight: 700;
      font-size: 1.6rem;
      font-family: 'Open Sans', sans-serif;
      background-color: rgb(72, 189, 150);
      color: white;
      cursor: pointer;

      @media (min-width:768px) {
        width: 40%;
        max-width: 300px;
        margin-left: auto;
        margin-right: 5%;
      }
    }
  }

  div.user-data {
    @include box-flex(column, center, flex-start);
    margin: 1rem;
    max-width: 768px;

    h1 {
      width: 100%;
      font-size: 1.6rem;
      letter-spacing: 1px;
      font-weight: bold;
      color: rgb(87, 184, 216);
    }

    h2 {
      width: 100%;
      padding: 10px 0;
      font-size: 1.3rem;
      letter-spacing: 1px;
      font-weight: bold;
      color: #999;
    }

    ul {
      width: 100%;
      max-width: 500px;

      li {
        height: 30px;
        @include box-flex(row, flex-start, center);

        div.label {
          width: 60%;
        }

        div.value {
          width: 40%;
          font-weight: 700;
        }
      }
    }

    @media (min-width:400px) {
      h1 {
        font-size: 1.7rem;
      }

      h2 {
        font-size: 1.4rem;
      }

      ul {
        font-size: 1.1rem;

        li {
          height: 35px;

          div.label {
            width: 55%;
          }

          div.value {
            width: 45%;
          }
        }
      }
    }

    @media (min-width:768px) {
      padding: 1rem;
      margin: 0 auto;

      h1 {
        font-size: 2.1rem;
      }

      h2 {
        font-size: 1.8rem;
      }

      ul {
        font-size: 1.4rem;

        li {
          height: 50px;

          div.label {
            width: 70%;
          }

          div.value {
            width: 30%;
          }
        }
      }
    }
  }
}