* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

input {
  border: none;
  outline: none;
}

select {
  outline: none;
  border: none;
}

button {
  border-style: none;
  background-color: transparent;
  outline: none;
}

ul {
  list-style: none;
}